[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datetime = "*"
sqlalchemy-serializer = "*"
sqlalchemy = "*"
flask-migrate = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-cors = "*"
bcrypt = "*"
python-dotenv = "*"
flask-mail = "*"
apscheduler = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.8"
